<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goku.mybatis.mapper.ext.sysUserExtMapper">
    <resultMap id="BaseResultExtMap" type="com.goku.mybatis.model.sysUser">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="org_id" jdbcType="VARCHAR" property="orgId" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="idcard" jdbcType="VARCHAR" property="idcard" />
        <result column="is_admin" jdbcType="VARCHAR" property="isAdmin" />
        <result column="sort" jdbcType="BIGINT" property="sort" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    </resultMap>
    <sql id="Base_Ext_Column_List">
        id, username, password, name, sex, status, org_id, email, idcard, is_admin, sort,
        mobile
    </sql>
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultExtMap">
        select
        <include refid="Base_Ext_Column_List" />
        from sys_user
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="validUser"  resultMap="BaseResultExtMap">
        select
        <include refid="Base_Ext_Column_List" />
        from sys_user
        where username = #{username,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
        and org_id = #{orgid,jdbcType=VARCHAR}
    </select>
    <select id="selectUserByOrgid"  resultType="java.util.HashMap">
        select  username,password from sys_user where org_id = #{orgid,jdbcType=VARCHAR}
        <if test="orderFiled != null" >
            order by  ${orderFiled}
            <if test="orderSort != null" >
                ${orderSort}
            </if>
        </if>
    </select>
    <select id="selectUserByUsername"  resultType="java.util.HashMap">
        select  username,password from sys_user where username = #{username,jdbcType=VARCHAR}
    </select>
    <insert id="insertsysUser" parameterType="com.goku.mybatis.model.sysUser">
     insert into sys_user (id, username, password,
      name, sex, status, org_id,
      email, idcard, is_admin,
      sort, mobile, stationid
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{orgId,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{isAdmin,jdbcType=VARCHAR},
      #{sort,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{stationid,jdbcType=LONGVARCHAR}
      )
    </insert>
    <insert id="insertsysUser2" parameterType="com.goku.mybatis.model.sysUser" useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_user ( username, password,
        name, sex, status, org_id,
        email, idcard, is_admin,
        sort, mobile, stationid
        )
        values ( #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{orgId,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{isAdmin,jdbcType=VARCHAR},
        #{sort,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{stationid,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertsysUser3" parameterType="com.goku.mybatis.model.sysUser">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              SELECT replace(uuid(),'-','')  AS id
        </selectKey>
        insert into sys_user (id, username, password,
        name, sex, status, org_id,
        email, idcard, is_admin,
        sort, mobile, stationid
        )
        values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{orgId,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{isAdmin,jdbcType=VARCHAR},
        #{sort,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{stationid,jdbcType=LONGVARCHAR}
        )
    </insert>
    <update id="updateUser" parameterType="com.goku.mybatis.model.sysUser">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update sys_user
        set username = #{username,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=VARCHAR},
        status = #{status,jdbcType=CHAR},
        org_id = #{orgId,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        idcard = #{idcard,jdbcType=VARCHAR},
        is_admin = #{isAdmin,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=BIGINT},
        mobile = #{mobile,jdbcType=VARCHAR},
        stationid = #{stationid,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="deleteByUserName" parameterType="java.lang.String">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from sys_user
        where username = #{username,jdbcType=VARCHAR}
    </delete>
    <select id="selectByUsernameORorg" parameterType="java.lang.String" resultMap="BaseResultExtMap">
        select
        <include refid="Base_Ext_Column_List" />
        from sys_user
        where is_admin=1
        <choose>
          <when test="username != null">
            AND username like#{username,jdbcType=VARCHAR}
          </when>
          <when test="name != null ">
            AND name like #{name,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND org_id =#{orgid,jdbcType=VARCHAR}
          </otherwise>
        </choose>
    </select>
    <select id="selectByUsernameORorg2" parameterType="java.lang.String" resultMap="BaseResultExtMap">
        select
        <include refid="Base_Ext_Column_List" />
        from sys_user
        <where>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="username != null">
                AND username like #{username,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectUserByOrgid2"  resultType="java.util.HashMap">
        select  username,password from sys_user where org_id  IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectByUsername2" parameterType="java.lang.String" resultMap="BaseResultExtMap">
        <bind name="username" value="'%' + username + '%'" />
        select
        <include refid="Base_Ext_Column_List" />
        from sys_user
        where username LIKE #{username}
    </select>
</mapper>